body {
  font-family: "SegoeUI", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.head_top {
  padding: 15px;
  background-color: #4e4e4e;
  opacity: 0.85;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 100; }

.headhesive {
  position: fixed;
  width: 100%;
  opacity: 0.85;
  background-color: #4e4e4e;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .headhesive img {
    height: auto; }

.headhesive--stick {
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.8; }
  .headhesive--stick img {
    height: 22px; }
  .headhesive--stick .top_mnu ul a {
    font-size: 14px;
    padding: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .headhesive--stick .main_mnu_button {
    font-size: 28px; }

.main_head {
  min-height: 480px; }

section,
.main_head {
  position: relative; }
  section h3,
  .main_head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 35px; }

section {
  padding: 30px 0 30px;
  background-color: #dcdcdc; }
  section h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px 0 16px;
    letter-spacing: 1px;
    color: #e2e2e2; }
    section h2::after {
      content: "";
      width: 187px;
      height: 1px;
      background-color: #e2e2e2;
      position: absolute;
      margin: 25px 10px; }
    section h2::before {
      content: "";
      width: 187px;
      height: 1px;
      background-color: #e2e2e2;
      position: absolute;
      margin: 25px 10px;
      margin-left: -200px; }
  section .personal_header {
    font-size: 13px;
    text-align: left;
    margin-bottom: 30px;
    color: #555; }

.s_descr_wrap {
  text-align: center; }
  .s_descr_wrap .s_descr {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    margin-bottom: 42px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #e2e2e2; }

.bg_light {
  background-color: #4e4e4e; }

.bg_dark {
  background-color: #2b2b2b; }

.section_content li {
  font-size: 20px;
  color: #e2e2e2;
  margin-bottom: 0; }
.section_content p {
  font-size: 20px;
  color: #e2e2e2; }
.section_content strong {
  font-size: 30px; }

.s_about p {
  margin-bottom: 25px; }
.s_about ul,
.s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.main_mnu_button {
  background-color: transparent;
  border: medium none;
  font-size: 35px;
  float: right;
  color: #e2e2e2; }

.s_portfolio p,
.s_resume p {
  color: #4f4f4f; }
.s_portfolio .section_header h2,
.s_resume .section_header h2 {
  color: #4f4f4f; }
  .s_portfolio .section_header h2::after,
  .s_resume .section_header h2::after {
    background-color: #4f4f4f; }
  .s_portfolio .section_header h2::before,
  .s_resume .section_header h2::before {
    background-color: #4f4f4f; }
.s_portfolio .section_header .s_descr,
.s_resume .section_header .s_descr {
  color: #4f4f4f; }

.img_item img {
  width: 100%;
  height: auto;
  margin-bottom: 25px; }

.logo_container {
  float: left;
  margin-top: 13px; }

.section_content .logo_container {
  text-align: center;
  float: none; }
.section_content .adress_rus,
.section_content .adress_en {
  margin-top: 40px; }
  .section_content .adress_rus p,
  .section_content .adress_en p {
    font-size: 25px;
    margin: 0;
    padding: 0; }
  .section_content .adress_rus .social_wrap,
  .section_content .adress_en .social_wrap {
    margin-top: 32px; }
    .section_content .adress_rus .social_wrap i,
    .section_content .adress_en .social_wrap i {
      font-size: 35px;
      border-radius: 50%;
      background-color: #dcdcdc;
      color: #4f4f4f;
      padding: 10px;
      width: 58px;
      height: auto;
      text-align: center; }
      .section_content .adress_rus .social_wrap i:hover,
      .section_content .adress_en .social_wrap i:hover {
        background-color: #fff;
        color: #2b2b2b;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
.section_content .logo_cont {
  margin-top: 78px;
  margin-bottom: 20px; }

.items_resume img {
  margin-bottom: 25px;
  margin-top: 40px; }

.main_footer {
  padding: 20px 0;
  font-weight: 300; }
  .main_footer p {
    color: #e9e9e9;
    padding: 4px;
    float: right;
    font-size: 15px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.top_mnu ul {
  float: right; }
  .top_mnu ul a:hover {
    color: #9a9a9a;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .top_mnu ul li {
    display: inline-block;
    float: left; }
.top_mnu a {
  color: #fff;
  padding: 40px;
  font-size: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.s_about p {
  margin-bottom: 25px; }
.s_about ul,
.s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.social_wrap li {
  display: inline-block;
  font-size: 20px;
  padding: 0 3px; }

.resume_container .left .resume_description strong {
  margin-left: 10px; }
.resume_container .right .resume_description strong {
  margin-right: 10px; }
.resume_container .left {
  text-align: right;
  border-right: #d2d2d2 1px solid; }
  .resume_container .left h3 {
    text-align: right; }
.resume_container .right {
  text-align: left; }
  .resume_container .right h3 {
    text-align: left; }
.resume_container h3 {
  margin-top: 30px; }
.resume_container .year {
  font-weight: 600;
  font-style: italic;
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 15px; }
.resume_container strong {
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase; }
.resume_container .resume_description {
  font-style: italic; }
.resume_container .resume_item {
  margin-bottom: 40px; }
  .resume_container .resume_item p {
    margin-top: 10px; }
  .resume_container .resume_item:last-child {
    margin-bottom: 0; }
    .resume_container .resume_item:last-child p {
      margin-bottom: 0; }

.s_portfolio ul,
.s_portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.s_portfolio li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  line-height: 2; }
.s_portfolio ul {
  margin-bottom: 50px; }
